[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "lib/stmcpp"]
	path = lib/stmcpp
	url = git@github.com:WojtaCZ/stmcpp.git
[submodule "lib/menu"]
	path = lib/menu
	url = git@github.com:WojtaCZ/menu.git
[submodule "lib/gfx"]
	path = lib/gfx
	url = git@github.com:WojtaCZ/stmcpp-gfx.git
[submodule "lib/ui"]
	path = lib/ui
	url = git@github.com:WojtaCZ/stmcpp-ui.git
